<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  </head>
  <body>
  <div class ='container' >
  <div class="jumbotron">
  {% if registered %}
    <h1>Thanks for registering <h1>
    </div>
    <a href="{% url "demo_app:login" %}">Login</a>
  </div>
  {% else %}
  <div class ='container' >
    <h3> REGISTER HERE </h3>
    <div class="jumbotron">
    <form method="POST" action=".">
      {% csrf_token %}
        <table border="0">
            {{ forms.as_table }}
        </table>
        <input type="submit" value="Register" />
    </div>
    <a href="{% url "demo_app:login" %}">Login</a>
  </div>
    {% endif %}

</html>
